.ipynb_checkpoints/
__pycache__/
data/readme
data/SMSSpamCollection.txt
data/smsspamcollection.zip
data/wikipedia_evidence_dataset_29429.csv
data/IBMDebaterEvidenceSentences/
data/argumentative_unigrams_lexicon.txt
data/C50/