.ipynb_checkpoints/
__pycache__/
artifacts/
data/readme
data/SMSSpamCollection.txt
data/smsspamcollection.zip
data/wikipedia_evidence_dataset_29429.csv
data/IBMDebaterEvidenceSentences/
data/argumentative_unigrams_lexicon.txt
data/C50/
data/Clinton-Trump/
data/argumentative_unigrams_lexicon_shortlist.txt
